* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background: #006600;
  border-left: transparent solid 1em;
}

body {
  display: flex;
  flex-direction: column;
}

ul:not(#nav) {
  padding: 0;
  list-style-position: inside;
  overflow: hidden;
  color: #008000;
}

li {
  font-weight: bold;
}

ul > li ul {
  margin-left: 2em;
}

ul > li ul li {
  font-weight: normal;
  display: inline-block;
}

ul > li ul li:not(:last-of-type):after {
  content: ","
}

#header, #footer {
  background: #222;
  color: #FFF;
  width: 100%;
  padding: 10px 0 10px 0;
  overflow: auto;
  text-align: center;
  flex: 0 0 auto;
}

main {
  display: flex;
  flex: 1 0 auto;
  flex-flow: column nowrap;
  overflow: auto;
}

.page {
  background: #E0E0E0;
  width: 100%;
  padding: 10px 12.5% 10px 12.5%;
  overflow: auto;
  flex: 1 0 auto;
}

.page:nth-child(2n+1) {
  background: #F0F0F0;
}

#header h5 {
  color: #DDDDDD;
  font-style: italic;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

main > h1 {
  color: #fff;
}

a {
  color: #008000;
}

a:visited {
  color: #004000;
}

a:hover {
  color: #016000;
}

@keyframes slideIn {
  0% {left:0;}
  83% {left:0;}
  100% {left: -11em;}
}

nav {
  color: #fff;
  z-index: 9001;
  position: fixed;
  left: -11em;
  top: 0;
  bottom: 0;
  background: #222;
  width: 13em;
  -webkit-animation: slideIn 1.8s;
  animation: slideIn 1.8s;
  transition: all 0.3s;
  box-shadow: 0px 0px 10px #000
}

nav:hover {
  left: 0;
}

#nav {
  margin: 0;
  padding: 0;
  width: 11rem;
  list-style-type: none;
  background: #333;
  height: 100%;
  overflow: auto;
  box-shadow: inset 0px 0px 10px #000;
}

nav hr {
  width: calc(100% - 20px);
  background: #ccc;
  border: 0;
  height: 1px;
}

.navItem {
  display: inline-block;
  width: 100%;
}

.navItem a {
  color: #FFF;
  padding: 10px 0 10px 10px;
  text-decoration: none;
  display: block;
}

.navItem:hover {
  background: #222;
}

table {
  border-collapse: collapse;
  width: 75%;
  border: solid 1px #006600;
  margin: 0 auto;
}

td, th {
  border: solid 1px #006600;
  padding: 5px;
}

thead tr {
  background: #006600 !important;
  color: #FFF !important;
}

tr {
  background: #66b266;
}

tr:nth-child(2n+1) {
  background: #7fbf7f;
}

#avatar {
  display: block;
  border-radius: 8px;
  box-shadow: inset 0px 0px 10px #000;
  border: solid 1px #000;
  float: left;
  margin-right: 10px;
}

img {
  max-width: 100%;
}

caption {
  caption-side: bottom;
}

.showcase {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  justify-content: flex-start;
  align-content: flex-start;
}

.page h1 {
  border-bottom: solid;
  margin-bottom: 10px;
}

.showcase div {
  flex: 0 1 50%;
  padding: 10px;
}

.navArrow {
  position: absolute;
  top: 5px;
  left: 11.5rem;
}

#navArrowOpen, nav:hover #navArrowClosed {
  display: none;
}

nav:hover #navArrowOpen {
  display: initial;
}
