legend a {
	color: black;
	text-decoration: none;
}

legend a:hover {
	font-weight: bold;
}

fieldset {
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-content: space-around;
	align-items: flex-start;
	height: 0;
	overflow:hidden;
}

fieldset *:not(a):not(legend) {
	display: none;
}

fieldset:target {
	height: auto;
}

fieldset:target * {
	display: inline;
}

#output p {
	padding: 1em;
}

.charprev {
	position: relative;
	height: 64px;
}

.charprev img {
	position: absolute;
	top: 0;
	left: 0;
	height: 64px;
}

@-moz-document url-prefix() { 
  fieldset {
     max-height: 10em;
  }
}