fieldset {
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-content: space-around;
	align-items: flex-start;
}

@-moz-document url-prefix() { 
  fieldset {
     max-height: 10em;
  }
}

#sex {
	align-items: center;
}